.dashboard{
    height: auto; 
    width: 100%;
    display: flex;
}

.dashboard h1{
    padding-top: 20px;
    text-align: center;
}

.dashboardOne {
    width: 100%;
    min-height: 100vh; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F5F6FA;
    flex-direction: column;
}

.dashboardTwo {
    width: 20%;
    height: 90%; 
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.inputDiv{
    width: 70%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputMain{
    width: 80%;
    height: 70%;
}

.blog{
    background-color: white;
    height: auto;
    width: 70%;
}

/* Dashboard Second */

.livechatbtn {
    background-color: #00DD31;
}

/* .chatBox{
    width: 250px;
    background-color: #000000;
    position: fixed;
    z-index: 10;
    right: 0;
    border-radius: 20px 20px 0 0;
    bottom: 0;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    box-shadow: inset -1px 20px 20px 0px #1070ff;
    font-family: ;

}
.chatBox::after{
    content: 'Chat Box';
    padding-top: 8px;
    color: #F5F6FA;
    text-align: center;
    position: relative;
    width: 100%;
    height: 12%;
     border-radius: 20px 20px 0 0;
    background-color: black;
} */