.dashboard{
    height: auto; /* siuuuu */
    width: 100%;
    display: flex;
    /* flex-direction: row; */
}

.dashboard h1{
    padding-top: 20px;
    text-align: center;
}

.dashboardOne {
    width: 80%;
    height: auto; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F5F6FA;
    flex-direction: column;
}

.dashboardTwo {
    width: 20%;
    height: auto; 
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.inputDiv{
    width: 70%;
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputMain{
    width: 80%;
    height: 70%;
}

.blog{
    background-color: white;
    height: auto;
    width: 70%;
}

/* Dashboard Second */

.livechatbtn {
    background-color: #00DD31;
}