.navbar {
    height: 45px;
    width: 100%;
    background-color: rgb(233, 233, 233);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.logo {
    height: 25px;
    position: absolute;
    left: 1%;
}

.navbar input {
   outline: none;
   position: absolute;
   left: 20%;
   height: 27px;
   padding-left: 10px;
}

.about {
    position: absolute;
    left: 50%;
}

.home {
    position: absolute;
    left: 40%;
}

.vent {
    position: absolute;
    left: 60%;
}

.login{
    position: absolute;
    left: 70%;
    /* text-decoration: none; */
    cursor: pointer;
    
}

.register {
    position: absolute;
    left: 75%;
    cursor: pointer;
}

.profile {
    position: absolute;
    left: 90%;
    cursor: pointer;
}

.profile img {
    position: absolute;
}
/* .outle{
    height: 100%;
    width: 100%;
} */